extends layout

block content
  ul
    each bet in bets
      li
        a(href=bet.hash)= bet.bet

block post
  form(action='/post',method='post')
    input(id='bet',type='text',value='',placeholder='Skriv in ditt bet här',name='bet')
