extends layout

block content

  p.yes
    a(href="/"+bet.hash+'/yes') Rösta ja (#{bet.yes})

  p.no
    a(href="/"+bet.hash+'/no') Rösta nej (#{bet.no})

  if percent !== underfined
    div(class="bar")
      div(style="width:"+percent+"%;")